<?xml version="1.0"?>
<config>
    <modules>
        <Mageapps_Icanpay3dsv>
            <version>0.0.1</version>
        </Mageapps_Icanpay3dsv>
    </modules>
    <frontend>
        <routers>
            <mageapps_icanpay3dsv>
                <use>standard</use>
                <args>
                    <module>Mageapps_Icanpay3dsv</module>
                    <frontName>icanpay3dsv</frontName>
                </args>
            </mageapps_icanpay3dsv>
        </routers>
        <events>
            <payment_method_is_active>
                <observers>
                    <mageapps_icanpay3dsv>
                        <type>singleton</type>
                        <class>Mageapps_Icanpay3dsv_Model_Observer</class>
                        <method>disableMethod</method>
                    </mageapps_icanpay3dsv>
                </observers>
            </payment_method_is_active>
        </events>
    </frontend>
    <admin>
        <routers>
			<mageapps_icanpay3dsv>
				<use>admin</use>
				<args>
					<module>Mageapps_Icanpay3dsv</module>
					<frontName>icanpay3dsv</frontName>
				</args>
			</mageapps_icanpay3dsv>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mageapps_icanpay3dsv>
                                            <title>Icanpay 3DSV Module</title>
                                            <sort_order>10</sort_order>
                                        </mageapps_icanpay3dsv>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
            <mageapps_icanpay3dsv>
                <class>Mageapps_Icanpay3dsv_Model</class>
                <resourceModel>mageapps_icanpay3dsv_resource</resourceModel>
            </mageapps_icanpay3dsv>
            <mageapps_icanpay3dsv_resource>
                <class>Mageapps_Icanpay3dsv_Model_Resource</class>
                <entities>
                    <icanpay3dsv>
                        <table>mageapps_icanpay3dsv</table>
                    </icanpay3dsv>
                </entities>
            </mageapps_icanpay3dsv_resource>
        </models>
        <resources>
            <mageapps_icanpay3dsv_setup>
                <setup>
                    <module>Mageapps_Icanpay3dsv</module>
                    <class>Mageapps_Icanpay3dsv_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageapps_icanpay3dsv_setup>
            <mageapps_icanpay3dsv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mageapps_icanpay3dsv_read>
            <mageapps_icanpay3dsv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mageapps_icanpay3dsv_write>
        </resources>
        <blocks>
            <mageapps_icanpay3dsv>
                <class>Mageapps_Icanpay3dsv_Block</class>
            </mageapps_icanpay3dsv>
        </blocks>
        <helpers>
            <mageapps_icanpay3dsv>
                <class>Mageapps_Icanpay3dsv_Helper</class>
            </mageapps_icanpay3dsv>
        </helpers>

        <rewrite> 
            <mageapps_icanpay3dsv_adminhtml_sales_order_edit>
                <from><![CDATA[#^/.+?/sales_order_edit/#]]></from>
                <to>/icanpay3dsv/order_edit/</to>
            </mageapps_icanpay3dsv_adminhtml_sales_order_edit>
            <mageapps_icanpay3dsv_adminhtml_sales_order_create>
                <from><![CDATA[#^/.+?/sales_order_create/#]]></from>
                <to>/icanpay3dsv/order_create/</to>
            </mageapps_icanpay3dsv_adminhtml_sales_order_create>
        </rewrite>
    </global>

    <default>
        <payment>
            <mageapps_icanpay3dsv>
                <active>0</active>
                <cctypes>VI,MC</cctypes>
                <model>mageapps_icanpay3dsv/pay</model>
                <payment_action>authorize_capture</payment_action>
                <useccv>1</useccv>
                <title>iCanPay 3DSV Payment</title>
                <payment_type>1</payment_type>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
            </mageapps_icanpay3dsv>
        </payment>
    </default>


</config>